*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
nav{
    background-color: rgb(44,62,80);
}

#hover:hover{
    color:#1abc9c !important;
}
.start{
    font-size: 60px;
    letter-spacing: 1px;
    line-height: 30px;
}
.para{
    font-size: 25px;
}

























