*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    background-color: #2C3E50;
}
.test1{
    margin-left: -10px;
}
.test2{
    margin-left: -100px;
}
#hover:hover{
    color: #1abc9c;
}
.boot{
    font-size: 60px;
}
 .menu{
    display: none;
}
.folio{
    color: rgb(44,62,80);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 45px;
}
.port{
    line-height: 2rem;
    color: #2c3e50;
    font-size: 47px;
}
#boxcontainer{
    position: relative;
}
#cabin{
    position: absolute;
    border-radius: 5px;
    top: 0;
    opacity: 0;
    max-width: 25rem;
    width: 100%;
    height: 100%;
    background-color: #1abc9c;
    transition: 0.3s ease-in-out;
}
#cab{
    font-size: 100px;
}
#boxcontainer:hover #cabin{
    opacity: 0.9;
    cursor: pointer;
}

.about{
    font-size: 50px;
}

.para{
    font-size: 1.125rem;
}
.free{
    margin-top: 30px;
}
footer{
    background-color: #2C3E50;
}

#boot{
    color: #1abc9c;
}
#boot:hover{
    color: #08a082;
}
#hover:active{
    background-color: #1abc9c;
    color: white !important;
}
#number{
    font-size: 1.5rem;
}
#contactme{
    color: #2c3e50;
    font-size: 47px;
}
.container .navbar-toggler{
    background-color: #1abc9c;
}
@media (max-width: 320px) {
    .top{
        width: 400px;
    }
    .folio{
        margin-left: 20%;
    }
    .star1{
        margin-left: 20%;
    }
    #boxcontainer{
        width: 370px;
    }
    #about{
        width: 400px;
    }
   #contact{
    width: 400px;
   }
   .foot{
    width: 400px;
   }
   .last{
    width: 400px;
   }  
}
@media (max-width: 768px) {
    .test{
        margin-top: -50px;
    }
    .test1{
        margin-top: -50px;
    }
    .test2{
        margin-top: -50px;
    }
}






















































